.container{
	width:370px;
	margin:0 auto;
	padding-top:60px;

	.logo{
		width:100%;
		height:50px;
		text-align: center;
		margin-bottom:20px;
	}

	.login{
		width:100%;
		height:450px;
		background-color:rgba(255,255,255,0.3);
		box-sizing:border-box;
		padding: 20px 30px 15px 30px;

		h3{
			color:#fff;
			font-size:2.4rem;
			padding:10px 0;
		}

		.username, .password{
			width:100%;
			height:40px;
			line-height:40px;
			font-family: 'iconfont';
			font-style:normal;
			font-size:1.8rem;
			background-color:#fff;
			margin-top:20px;
			padding-left:5px;
			border-radius:5px;

			input{
				width:90%;
				height:30px;
				padding:5px 0;
				background:none;
				font-size:1.6rem;
			}
		}
		
		.form-action{
			width:100%;
			height:40px;
			margin-top:20px;
			color:#fff;
			
			.checkbox{
				display: inline-block;
				height:20px;
				padding-left:5px;
				padding-top:15px;
				position:relative;

				input[type='checkbox']{
					visibility: hidden;
				}

				.labelbox{
					display: inline-block;
					cursor: pointer;
					width:16px;
					height:16px;
					background:#eee;
					border-radius:3px;
					position:relative;
				}
				span{
					width:100px;
					position:absolute;
					top:0;
					right:-105px;
					vertical-align: middle;
					font-size:1.4rem;
				}

				.box{
					opacity: 0;
					display: inline-block;
				    position: absolute;
				    width: 9px;
				    height: 5px;
				    background: transparent;
				    top: 3px;
				    left: 2px;
				    border: 2px solid #333;
				    border-top: none;
				    border-right: none;
				    -webkit-transform: rotate(-45deg);
				    -moz-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				}

				.labelbox:hover .box{
					opacity: 0.5;
				}

				.labelbox input[type='checkbox']:checked + .box{
				    opacity: 1;
				}
			}

			.loginbtn{
				float:right;
				display:inline-block;
				line-height:35px;

				#login{
					width:100px;
					height:35px;
					color:#fff;
					font-size:1.6rem;
					background-color:#428bca;
					border-radius:5px;
					cursor:pointer;

					&:hover{
						background-color:#3071a9;
					}
				}
			}

		}
	}
}