$btn-color:#428bca;
$btn-hover-color:#3071a9;

body{
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.container{
	width:370px;
	margin:0 auto;
	padding-top:5%;
	font-size:1.4rem;

	h3{
		color:#fff;
		font-size:2.4rem;
		padding:10px 0;
	}

	.logo{
		width:100%;
		height:50px;
		text-align: center;
		margin-bottom:20px;
	}

	.login{
		width:100%;
		height:450px;
		background-color:rgba(255,255,255,0.3);
		box-sizing:border-box;
		padding: 20px 30px 15px 30px;
		display: none;

		a{
			color:#bb4b1a;
			cursor:pointer;
			&:hover{
				text-decoration:underline;
			}
		}

		.username, .password{
			width:100%;
			height:40px;
			line-height:40px;
			font-family: 'iconfont';
			font-style:normal;
			font-size:1.8rem;
			background-color:#fff;
			margin-top:20px;
			padding-left:5px;
			border-radius:5px;

			input{
				width:90%;
				height:30px;
				padding:5px 0;
				background:none;
				font-size:1.6rem;
			}
		}

		.form-action{
			width:100%;
			height:100px;
			margin-top:20px;
			color:#fff;

			.checkbox1{
				display: inline-block;
				height:20px;
				padding-left:5px;
				padding-top:15px;
				position:relative;

				input[type='checkbox']{
					visibility: hidden;
				}

				.labelbox{
					display: inline-block;
					cursor: pointer;
					width:16px;
					height:16px;
					background:#eee;
					border-radius:3px;
					position:relative;
				}
				span{
					width:100px;
					position:absolute;
					top:0;
					right:-105px;
					vertical-align: middle;
					font-size:1.4rem;
				}

				.box{
					opacity: 0;
					display: inline-block;
				    position: absolute;
				    width: 9px;
				    height: 5px;
				    background: transparent;
				    top: 3px;
				    left: 2px;
				    border: 2px solid #333;
				    border-top: none;
				    border-right: none;
				    -webkit-transform: rotate(-45deg);
				    -moz-transform: rotate(-45deg);
				    -o-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				}

				.labelbox:hover .box{
					opacity: 0.5;
				}

				.labelbox input[type='checkbox']:checked + .box{
				    opacity: 1;
				}
			}

			.checkbox2{
				display:inline-block;
				position:relative;
				padding-top:10px;

				input[type='checkbox']{

					visibility: hidden;
					position:absolute;
					top: 13px;
					left: 0;
				}

				label{
					position:relative;
					padding:0 0 0 20px;
					font-size:1.4rem;
					cursor: pointer;
					vertical-align: middle;
				}

				.box{
					display: inline-block;
					width:10px;
					height:10px;
					border:2px solid #fff;
					position:absolute;
					top:0;
					left: 0;
					transition: opacity,0.5s,ease;
				}

				.check{
					width:6px;
					height:12px;
					border:2px solid #45b6af;
					border-top-color:transparent;
					border-left-color:transparent;
					position:absolute;
					left:2px;
					top:-3px;
					opacity: 0;
					transition: opacity,0.5s,ease;
				}

				input[type='checkbox']:checked + label .box{
					transform:rotate(180deg) scale(0.3);
					opacity: 0;
				}

				input[type='checkbox']:checked + label .check{
					transform:rotate(400deg);
					opacity: 1;
				}

			}

			.loginbtn{
				display:inline-block;
				float: right;

				#login{
					width:100px;
					height:35px;
					color:#fff;
					font-size:1.6rem;
					background-color:$btn-color;
					border-radius:5px;
					cursor:pointer;

					&:hover{
						background-color:#3071a9;
					}
				}
			}

		}

		.forget-password{
			color:#fff;
		}

		.cut-line{
			height:1px;
			margin:20px 0;
			border-top:1px dotted #fff;
		}

		.sign{
			color:#fff;
			font-size:1.6rem;
			p{
				margin:15px 0;
			}
			a{
				font-weight: bold;
			}
		}
	}

	.find-password{
		width:100%;
		height:450px;
		background-color:rgba(255,255,255,0.3);
		box-sizing:border-box;
		padding: 20px 30px 15px 30px;

		.content{
			p{
				color:#fff;
				line-height:1.6rem;
				padding:5px 0;
			}
			.form{
				height:30px;
				line-height: 30px;
				border-radius:3px;
				background:#fff;
				margin-top:10px;
				font-family: 'iconfont';
	  			font-style: normal;
	  			font-size: 2rem;

				i{
					margin-left:5px;
				}

				#email{
					width:85%;
					height:25px;
					margin-left:-10px;
	  				font-size:1.4rem;
	  				padding:0 5px;
				}
			}
		}

		.button-group{
			margin-top:20px;
			button{
				width:100%;
				height:30px;
				color:#fff;
				margin:5px 0;
				border-radius:5px;
				letter-spacing:0.5px;
				cursor: pointer;
			}
			#submit{
				background-color:$btn-color;
				&:hover{
					background-color:$btn-hover-color;
				}
			}

			#cancle{
				background-color:#d9534f;
				&:hover{
					background-color:#c9302c;
				}
			}
		}

	}


}

.copyright{
	width:100%;
	padding:15px 0;
	text-align: center;
	color:#fff;
	font-size: 1.3rem;
}
